@font-face {
    font-family: 'nn_mainregular';
    src: url('nn_main-regular-webfont.woff2') format('woff2'),
         url('nn_main-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --white-color:                #f2f2f2;
    --primary-color:              #6bfae7;
    --dark-color:                 #000000;
    --grey-color:                 #d0d1d1;
    --p-color:                    #f0f8ff;
  
    --body-font-family:           nn_mainregular;  
  }

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-family: var(--body-font-family);
    font-size:25px;
    font-weight:normal;
    color:var(--p-color);
}

p {
    line-height: 25px;
    margin: 15px 0 15px 0;
    letter-spacing: -1px;
}

.row img {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0 !important;
}

.fade {
    transition: opacity 0.7s ease-in-out;
    opacity: 1;
}

#wrapper {
    padding: 15px 0;
    position: relative;
}

.track-info-wrapper {
    display: flex;
    overflow: hidden;
    width: 400px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-top: -10px;
}

#track-info {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 7s linear infinite alternate;
    -webkit-animation: scroll-left 7s linear infinite alternate;
    animation: scroll-left 7s linear infinite alternate;

}

.playback-button-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.audio-button {
    max-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.audio-button:hover {
    cursor: pointer;
}

.small-audio-button {
    max-height: 29px;
}

.skip-button {
    max-height: 35px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.time-wrapper {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#elapsed-time {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

#duration {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

#audio-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: 75px;
}

#playback-banner {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    bottom: -1px;
    width: 100%;
    min-height: 118px;
    background-image: url(../images/torn_paper_tile.png);
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}

.embedded-video {
    margin: 10px;
    min-width: 75%;
    min-height: 197px;
    max-width: 100%;
    /* max-height: 500px; */
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(20%);
    }
    100% {
        -moz-transform: translateX(-20%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(20%);
    }
    100% {
        -webkit-transform: translateX(-20%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(20%);
        -webkit-transform: translateX(20%);
        transform: translateX(20%);
    }
    100% {
        -moz-transform: translateX(-20%);
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
    }
}

.canvas-wrapper {
    position: fixed;
    z-index: -2;
}

.contact {
    align-self: center;
    justify-self: center;
    margin: 5px;
}

.divider {
    background: var(--primary-color);
    align-self: center;
    opacity: 0.7;
    max-width: 67%;
    min-width: 50%;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Rows and Columns */

@media screen and (min-width: 700px) {
    .row {
       max-width: 60%;
    }

    .social-icons {
        right: 10px;
        bottom: 8px;
    }    

    [class*='col-'] {
        padding: 20px 20px 0 20px;
    }

    h2 {
        font-size:36px;
    }

    .section-title {
        font-size: 39px; 
    }
}

@media screen and (max-width: 700px) {
    .row {
       max-width: 100%;
       background: rgba(0,0,0,0.4);
    }

    .social-icons {
        right: 10px;
        bottom: 68px;
    }
}

.row {
    position: relative;
}

.no-padding-bottom .row, .no-padding-bottom div, .no-padding-bottom.row {
    padding-bottom: 0;
}

.no-padding-top.row, .no-padding-top div {
    padding-top: 0;
}

.big-padding-top {
    padding-top: 75px !important;
}

.big-padding-bottom {
    padding-bottom: 85px !important;
}

.col-38 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* --------- 2.1 Header --------- */

#header {
    height: 71px !important;
    overflow: visible;
    z-index: 9999;
    width: 100%;
    position: absolute !important;
}

#header .row {
    padding: 0;
}

#header aside {
    text-align: right;
}

#header ul {
    text-align: center;
}

.site-subtitle {
    align-self: flex-end;
    text-shadow: #10003c 1px 0 3px;
}

.call-to-action {
    padding: 35px 0 35px 0;
}

/*Style*/

.button {
    font-size: 16px;
    padding: 11px 16px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    border-width: 2px;
    border-style: solid;
}

.button:hover {
    cursor: pointer;
}

/* --------- 2.5 Social Elements ---------- */

.social-icons {
    display: flex;
    list-style: none;
    position: fixed;
    z-index: 2;
}

a:hover {
    color: var(--primary-color);
}

.social-icons span {
    display: none;
}

.social-icons a {
    display: block;
    font-size: 30px;
    height: 25px;
    padding: 2px;
}

#header .social-icons {
    margin-top: 27px;
}

/* --------- 2.6 Images ---------- */

/*Alignment*/

.bg-video {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 100%;
    max-height: 88%;
    margin-top: 40px;
}

#glitch {
    /* visibility: hidden; */
    z-index: -1;
}

#headshot {
    /* visibility: hidden; */
    z-index: -2;
}

.bg-smoke {
    z-index: -3;
    position: fixed;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
}

img {
    vertical-align: top;
    touch-action: manipulation;
}

.image-center {
    display: block;
    margin: 0 auto;
}

a img {
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-backface-visibility: hidden;
}

a img:hover {
    opacity: 0.7;
}

/*------------------------------------------------------------------------------------------*/
/* 3. Fonts */
/*------------------------------------------------------------------------------------------*/

h1 {
    width: fit-content;
    font-family: var(--body-font-family);
    font-size: 60px; 
    font-weight:300;
    color:var(--p-color);
    letter-spacing: -4px;
}

h3 {
    width: fit-content;
    align-self: center;
}

h4 {
    color: var(--dark-color);
    font-weight: 800;
}

/* Text Alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Section Headings */

.section-subtitle {
    padding-top: 0;
    align-self: flex-end;
    /* margin-top: -10px; */
    text-shadow: #10003c 1px 0 3px;
}

.section-heading h3 {
    display: flex;
    width: fit-content;
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0;
}

.section-heading {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: flex-start;
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    letter-spacing: -1px;
    padding-bottom: 0;
}

/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/

#banner {
    background-size: cover;
}

/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer {
    clear: both;
}

#landing-footer .row {
    padding: 0;
}

#landing-footer p {
    margin: 0;
}

#landing-footer ul {
    list-style: none;
    text-align: right;
}

#status {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-position: center;
    margin: -55px 0 0 -55px; /* is width and height divided by two */
    text-align: center;
}

.col-3 {
    width: 100%;
}

/* Landscape mobile & down
===============================*/
@media (max-width: 700px) {

    .row {
        padding: 15px 15px 0 15px !important;
    }

    #header .row {
        padding: 0 15px !important;
    }

    #header ul.social-icons {
        margin-top: 0;
    }

    #banner-content.row {
        padding-top: 25px !important;
    }

    /*-----------------Typography-----------------*/
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 30px;
    }

    #banner h2 {
        font-size: 25px;
    }

    #banner h1 {
        font-size: 48px;
    }

}

/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/
h2 {
    font-family: var(--body-font-family);
    /* font-size:36px; */
    font-weight:300;
    color:var(--p-color);
}

/* Section Title and Subtitle */

.section-title {
    font-family: var(--body-font-family);
    margin-top: -12px;
    font-weight:500;
    color:var(--p-color);
    line-height: 36px;
}

.section-subtitle {
    font-family: var(--body-font-family);
    font-size: 26px;
    font-weight:300;
}

h3 {
    font-family: var(--body-font-family);
    font-size: 50px; 
    font-weight:700;
    color:var(--p-color);
}

h4 {
    font-family: var(--body-font-family);
    font-size: 20px; 
    font-weight:600;
    color:var(--dark-color);
}

/* Button Text */

.button, input[type="submit"]  {
    font-family: var(--body-font-family);
    font-size:34px;
    font-weight:bold;
    color:var(--p-color);
    background-color: #0000006e;
}

/* Button Color */

.button, input[type="submit"] {
    border-color:var(--p-color);
}


/* Button Hover Color */

.button:hover,  input[type="submit"]:hover {
    border-color:var(--primary-color);
    color:var(--primary-color);
}


/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p {
    z-index: 2;
    font-family: var(--body-font-family);
    font-size:30px;
    font-weight:normal;
    color:#999;
}

/* Footer Icon Color */

#landing-footer i {
    color:#999;
    transition: color .3s linear;
}

#landing-footer i:hover {
    color: var(--primary-color);
}